.navbar {
  box-shadow: 0px 3px 5px rgb(10, 102, 10);
}

.navbar-heading {
  margin-left: 10px;
  font-weight: bold;
}

.spaceX-background {
  background-image: url("./images/spaceX-background.jpg");
  overflow: hidden;
  height: 600px;
  color: white;
  text-align: center;
  padding-top: 15%;
  font-size: xx-large;
  font-weight: bolder;
}
.description {
  font-weight: normal;
  font-size: medium;
}

.launches-heading {
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  border-bottom: 1px solid rgb(10, 102, 10);
}
.MuiTab-textColorPrimary.Mui-selected {
  color: rgb(10, 102, 10) !important;
}
.MuiTab-textColorPrimary {
  color: white !important;
}
.MuiAppBar-colorDefault {
  background-color: black !important;
}
.PrivateTabIndicator-colorPrimary-3 {
  background-color: rgb(10, 102, 10) !important;
}
.MuiButtonBase-root {
  color: white !important;
}
.MuiTab-wrapper {
  font-weight: bold !important;
}
.success {
  color: rgb(10, 102, 10);
}
.failure {
  color: rgb(201, 15, 15);
}
.launchObj-heading {
  border-bottom: 2px solid rgb(10, 102, 10);
  width: fit-content;
}
.links-buttons-container {
  display: flex;
  justify-content: space-around;
}
.links-buttons {
  width: 30%;
}
.link-button {
  width: 100%;
}
